In [1]:
import numpy as np
import pandas as pd
from pandas.plotting import scatter_matrix

In [2]:
# Import the California Housing Data from used in the HOML book, Chapter 2

import os
import tarfile
from six.moves import urllib

DOWNLOAD_ROOT = "https://raw.githubusercontent.com/ageron/handson-ml/master/"
HOUSING_PATH = os.path.join("datasets", "housing")
HOUSING_URL = DOWNLOAD_ROOT + "datasets/housing/housing.tgz"

def fetch_housing_data(housing_url=HOUSING_URL, housing_path=HOUSING_PATH):
    os.makedirs(housing_path, exist_ok=True)
    tgz_path = os.path.join(housing_path, "housing.tgz")
    urllib.request.urlretrieve(housing_url, tgz_path)
    housing_tgz = tarfile.open(tgz_path)
    housing_tgz.extractall(path=housing_path)
    housing_tgz.close()

In [3]:
fetch_housing_data()

def load_housing_data(housing_path=HOUSING_PATH):
    csv_path = os.path.join(housing_path, "housing.csv")
    return pd.read_csv(csv_path)

In [4]:
housing = load_housing_data()

In [5]:
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [6]:
y = housing['median_house_value']
print(y)

0        452600.0
1        358500.0
2        352100.0
3        341300.0
4        342200.0
5        269700.0
6        299200.0
7        241400.0
8        226700.0
9        261100.0
10       281500.0
11       241800.0
12       213500.0
13       191300.0
14       159200.0
15       140000.0
16       152500.0
17       155500.0
18       158700.0
19       162900.0
20       147500.0
21       159800.0
22       113900.0
23        99700.0
24       132600.0
25       107500.0
26        93800.0
27       105500.0
28       108900.0
29       132000.0
           ...
20610     45500.0
20611     47000.0
20612     48300.0
20613     53400.0
20614     58000.0
20615     57500.0
20616     55100.0
20617     70800.0
20618     63400.0
20619     99100.0
20620    100000.0
20621     77500.0
20622     67000.0
20623     65500.0
20624     87200.0
20625     72000.0
20626     93800.0
20627    162500.0
20628     92400.0
20629    108300.0
20630    112000.0
20631    107200.0
20632    115600.0
20633     98300.0
20634    116800.0
20635     78100.0
20636     77100.0
20637     92300.0
20638     84700.0
20639     89400.0
Name: median_house_value, Length: 20640, dtype: float64

In [7]:
X = housing.drop(['median_house_value','ocean_proximity','total_bedrooms'],axis=1)
print(X)

       longitude  latitude  housing_median_age  total_rooms  population  \
0        -122.23     37.88                41.0        880.0       322.0
1        -122.22     37.86                21.0       7099.0      2401.0
2        -122.24     37.85                52.0       1467.0       496.0
3        -122.25     37.85                52.0       1274.0       558.0
4        -122.25     37.85                52.0       1627.0       565.0
5        -122.25     37.85                52.0        919.0       413.0
6        -122.25     37.84                52.0       2535.0      1094.0
7        -122.25     37.84                52.0       3104.0      1157.0
8        -122.26     37.84                42.0       2555.0      1206.0
9        -122.25     37.84                52.0       3549.0      1551.0
10       -122.26     37.85                52.0       2202.0       910.0
11       -122.26     37.85                52.0       3503.0      1504.0
12       -122.26     37.85                52.0       2491.0      1098.0
13       -122.26     37.84                52.0        696.0       345.0
14       -122.26     37.85                52.0       2643.0      1212.0
15       -122.26     37.85                50.0       1120.0       697.0
16       -122.27     37.85                52.0       1966.0       793.0
17       -122.27     37.85                52.0       1228.0       648.0
18       -122.26     37.84                50.0       2239.0       990.0
19       -122.27     37.84                52.0       1503.0       690.0
20       -122.27     37.85                40.0        751.0       409.0
21       -122.27     37.85                42.0       1639.0       929.0
22       -122.27     37.84                52.0       2436.0      1015.0
23       -122.27     37.84                52.0       1688.0       853.0
24       -122.27     37.84                52.0       2224.0      1006.0
25       -122.28     37.85                41.0        535.0       317.0
26       -122.28     37.85                49.0       1130.0       607.0
27       -122.28     37.85                52.0       1898.0      1102.0
28       -122.28     37.84                50.0       2082.0      1131.0
29       -122.28     37.84                52.0        729.0       395.0
...          ...       ...                 ...          ...         ...
20610    -121.56     39.10                28.0       2130.0      1195.0
20611    -121.55     39.10                27.0       1783.0      1163.0
20612    -121.56     39.08                26.0       1377.0       761.0
20613    -121.55     39.09                31.0       1728.0      1167.0
20614    -121.54     39.08                26.0       2276.0      1455.0
20615    -121.54     39.08                23.0       1076.0       724.0
20616    -121.53     39.08                15.0       1810.0      1157.0
20617    -121.53     39.06                20.0        561.0       308.0
20618    -121.55     39.06                25.0       1332.0       726.0
20619    -121.56     39.01                22.0       1891.0      1023.0
20620    -121.48     39.05                40.0        198.0       151.0
20621    -121.47     39.01                37.0       1244.0       484.0
20622    -121.44     39.00                20.0        755.0       457.0
20623    -121.37     39.03                32.0       1158.0       598.0
20624    -121.41     39.04                16.0       1698.0       731.0
20625    -121.52     39.12                37.0        102.0        29.0
20626    -121.43     39.18                36.0       1124.0       504.0
20627    -121.32     39.13                 5.0        358.0       169.0
20628    -121.48     39.10                19.0       2043.0      1018.0
20629    -121.39     39.12                28.0      10035.0      6912.0
20630    -121.32     39.29                11.0       2640.0      1257.0
20631    -121.40     39.33                15.0       2655.0      1200.0
20632    -121.45     39.26                15.0       2319.0      1047.0
20633    -121.53     39.19                27.0       2080.0      1082.0
20634    -121.56     39.27                28.0       2332.0      1041.0
20635    -121.09     39.48                25.0       1665.0       845.0
20636    -121.21     39.49                18.0        697.0       356.0
20637    -121.22     39.43                17.0       2254.0      1007.0
20638    -121.32     39.43                18.0       1860.0       741.0
20639    -121.24     39.37                16.0       2785.0      1387.0

       households  median_income
0           126.0         8.3252
1          1138.0         8.3014
2           177.0         7.2574
3           219.0         5.6431
4           259.0         3.8462
5           193.0         4.0368
6           514.0         3.6591
7           647.0         3.1200
8           595.0         2.0804
9           714.0         3.6912
10          402.0         3.2031
11          734.0         3.2705
12          468.0         3.0750
13          174.0         2.6736
14          620.0         1.9167
15          264.0         2.1250
16          331.0         2.7750
17          303.0         2.1202
18          419.0         1.9911
19          275.0         2.6033
20          166.0         1.3578
21          366.0         1.7135
22          478.0         1.7250
23          325.0         2.1806
24          422.0         2.6000
25          119.0         2.4038
26          239.0         2.4597
27          397.0         1.8080
28          473.0         1.6424
29          155.0         1.6875
...           ...            ...
20610       439.0         1.3631
20611       409.0         1.2857
20612       267.0         1.4934
20613       384.0         1.4958
20614       474.0         2.4695
20615       197.0         2.3598
20616       375.0         2.0469
20617       114.0         3.3021
20618       226.0         2.2500
20619       296.0         2.7303
20620        48.0         4.5625
20621       157.0         2.3661
20622       157.0         2.4167
20623       227.0         2.8235
20624       291.0         3.0739
20625        14.0         4.1250
20626       171.0         2.1667
20627        59.0         3.0000
20628       390.0         2.5952
20629      1818.0         2.0943
20630       445.0         3.5673
20631       432.0         3.5179
20632       385.0         3.1250
20633       382.0         2.5495
20634       344.0         3.7125
20635       330.0         1.5603
20636       114.0         2.5568
20637       433.0         1.7000
20638       349.0         1.8672
20639       530.0         2.3886

[20640 rows x 7 columns]

In [8]:
from sklearn.model_selection import train_test_split

# split data and labels into a training and a test set
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [9]:
from sklearn.linear_model import LinearRegression

# instantiate a model and fit it to the training set
linreg = LinearRegression().fit(X_train, y_train)

In [10]:
# evaluate the model on the test set
print("Test set score: {:.2f}".format(linreg.score(X_test, y_test)))

Test set score: 0.62

# Dealing with missing value

In [11]:
X = housing.drop(['median_house_value','ocean_proximity'],axis=1)

In [12]:
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
imp_mean.fit(X)
SimpleImputer()
X = imp_mean.transform(X)

In [13]:
# split data and labels into a training and a test set
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [14]:
# instantiate a model and fit it to the training set
linreg = LinearRegression().fit(X_train, y_train)

In [15]:
# evaluate the model on the test set
print("Test set score: {:.2f}".format(linreg.score(X_test, y_test)))

Test set score: 0.63